body{
    background-color: gray;

}
#logo{
    height: 5em;
    width:5em;
    border-radius: 50%;
}
#ticker{
    display:inline-block;
    width: 30em;
    margin-top: 0;
}
.parent{
    display: flex;
    width: 50%;
}
.child{
    flex: 1;

    margin: 10px;
}
.child:first-child{
    margin-right: 30em;
}

.chart{
    width :25%;
    margin-right: 2em;
}

.charts{
    margin-left: 5em;
}
