body{
    background-color: beige;
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 20%;
}
.logo{
    height: 12em;
    width: 12em;
    display:inline-block;margin-right:10px;
}
.ticker{
    display:inline-block;
    width: 30em;
}

